---
import Layout from '../layouts/Layout.astro';
import Landing from '~/components/widgets/Landing.svelte';
import Portfolio from '~/components/widgets/Portfolio.svelte';
---

<Layout title="2023 ASM website.">
	<main>
		<Landing />
		<Portfolio />
	
	</main>
	<style></style>
</Layout>
